/* Home.css */
.logo {
  width: 300px;
  margin: 0 auto;
}

.home {
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  display: grid;
  max-width: 800px;
  margin: 0 auto;
}

.home-nav {
  text-align: center;
  margin-bottom: 1.5rem;
}

.home-nav a {
  text-decoration: none;
  color: #1a73e8;
  margin: 0 0.5rem;
  font-weight: 500;
}

.home-nav a:hover {
  text-decoration: underline;
}

.create-thread-form {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;

  button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #63c178;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0.5rem 0;
  }

  button:hover {
    background-color: #4e9f5b;
  }

  input {
    padding: 8px 10px;
    margin: 0.5rem;
    border: none;
    border-radius: 25px;
    background: #f7f7f7;
    color: #333;
    font-size: 1em;
    line-height: 1.5;
  }
}

.thread-container {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;

  a {
    line-height: 2;
  }
}

.thread-info button {
  margin: 0 0.5rem;
}

.thread-date {
  font-size: 0.8rem;
  color: #777;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.thread-filter {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  width: 100%;

  svg {
    width: 20px;
    height: 20px;
  }

  form {
    display: flex;
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 25px;
  }

  button {
    cursor: pointer;
    padding: 0.6rem;
    margin: 0.4rem 0;
    border-radius: 0 1.5rem 1.5rem 0;
    border: none;
    color: #333;
    font-size: 1rem;
    transition: 0.5s;
    background: none;
    display: flex;
  }

  .submit {
    border-left: 1px solid #ddd;
  }

  input {
    padding: 8px 10px;
    border: none;
    border-radius: 25px;
    background: #f7f7f7;
    color: #333;
    font-size: 1em;
    line-height: 1.5;
    flex-grow: 1;
  }
}
