* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.home-link {
  text-decoration: none;
  margin: 0 auto;
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1.5rem;
  font-weight: bold;
}
